.chrome-fixed {
  position: fixed;
  right: 1rem;
  top: 50px;
  z-index: 99999;
  background-color: rgb(2 48 74);
  padding: 0.5rem;
  border-radius: 0.45rem;
}

.chrome-font {
  font-size: x-large;
}

.chrome-hide {
  visibility: hidden !important;
}
