.flex-row {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.tv-header__logo-text,
.tv-header__icon {
  color: white;
}

.tv-icon-container {
  width: fit-content;
  background: black;
  padding: 0.5rem;
  border-radius: 9px;
}
