.chrome-fixed {
  position: fixed;
  right: 5rem;
  top: calc(38px + 1rem);
  z-index: 99999;
  background-color: rgb(2 48 74);
  padding: 0.5rem;
  border-radius: 0.45rem;
}

.chrome-font {
  font-size: medium;
}
